<?xml version="1.0"?>
<config>
    <modules>
        <Mrmage_CronProfileRunner>
            <version>1.0.1</version>
        </Mrmage_CronProfileRunner>
    </modules>
    <global>
        <blocks>
            <mrmage_cronprofilerunner>
                <class>Mrmage_CronProfileRunner_Block</class>
            </mrmage_cronprofilerunner>
            <adminhtml>
                <rewrite>
                    <system_convert_gui_grid>Mrmage_CronProfileRunner_Block_Rewrite_Adminhtml_System_Convert_Gui_Grid</system_convert_gui_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <mrmage_cronprofilerunner>
                <class>Mrmage_CronProfileRunner_Model</class>
                <resourceModel>mrmage_cronprofilerunner_resource</resourceModel>
            </mrmage_cronprofilerunner>
            <mrmage_cronprofilerunner_resource>
                <class>Mrmage_CronProfileRunner_Model_Resource</class>
                <entities>
                    <profile>
                        <table>mrmage_cronprofilerunner</table>
                    </profile>
                </entities>
            </mrmage_cronprofilerunner_resource>
        </models>
        <resources>
            <mrmage_cronprofilerunner_setup>
                <setup>
                    <module>Mrmage_CronProfileRunner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mrmage_cronprofilerunner_setup>
            <mrmage_cronprofilerunner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mrmage_cronprofilerunner_write>
            <mrmage_cronprofilerunner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mrmage_cronprofilerunner_read>
        </resources>
        <helpers>
            <mrmage_cronprofilerunner>
                <class>Mrmage_CronProfileRunner_Helper</class>
            </mrmage_cronprofilerunner>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mrmage_cronrunner before="Mage_Adminhtml">Mrmage_CronProfileRunner_Adminhtml</mrmage_cronrunner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <mrmage_cronprofilerunner_run_profiles>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mrmage_cronprofilerunner/cron::runProfiles</model>
                </run>
            </mrmage_cronprofilerunner_run_profiles>
        </jobs>
    </crontab>
</config>